# Uncomment these lines if you want to use clean urls.
# Also you need to set $config['index_page'] = ''; in application/config/config.php

#RewriteEngine on
#RewriteCond $1 !^(index\.php|assets|robots\.txt)
#RewriteRule ^(.*)$ index.php/$1 [L]