@font-face{
	font-family: 'iraniansansz';
	src: url('../font/iransansz.eot');
	src: url('../font/iransansz.eot?#iefix') format('embedded-opentype'),
	url('../font/iransansz.woff') format('woff'),
	url('../font/iransansz.ttf') format('truetype'),
	url('../font/iransansz.svg#webfont') format('svg');
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	padding: 0;
	color: #2d2d2d;
	margin: 0 0 20px 0;
	font-size: 12px;
	font-family:iraniansansz, sans-serif;
}
a {
	color: #2d2d2d;
}
/********************************************/
div#top_bar {
	top: 0;
	left: 0;
	padding: 0;
	z-index: 2;
	width: 100%;
	height: 37px;
	color: #f0f0f0;
	position: fixed;
	font-size: 14px;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
}

div#top_bar a {
	text-decoration:none;
}

div#shj_logo {
	top: 0;
	left: 5px;
	width: 0;
	position: relative;
}

div#shj_logo img {
	height: 37px;
}

#profile_link , #select_assignment_top .assignment_name {
	color: #f0f0f0;
}

div.top_object {
	float: right;
	height: 37px;
	position: relative;
	display: inline-block;
	padding: 10px 10px 0 10px;
	border-left: 1px solid #5d5b69;
}

div.countdown {
	padding: 0;
}

div.time_block {
	line-height: 1;
	float: left;
	text-align: center;
	padding: 4px;
}

span.time_label {
	font-size: 70%;
}

#select_assignment_top {
	cursor: default;
}

#user_top , #select_assignment_top {
	cursor: pointer;
}

.top_menu {
	right: 0;
	top: 100%;
	color: black;
	cursor: auto;
	display: none;
	padding: 10px;
	font-size: 13px;
	min-width: 140px;
	position: absolute;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.27) 0 0 7px 3px;
}

/*********************************************/
div#side_bar {
	left: 0;
	top: 37px;
	bottom: 0;
	z-index: 1;
	width: 170px;
	position: fixed;
	background-color: #f0f0f0;
	border-right: 1px solid #a3a3a3;
	box-shadow: #a9a9a9 0 0 5px 2px;
}

div#side_bar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div#side_bar ul li {
	font-size: 14px;
	padding: 10px 0 10px 10px;
}

div#side_bar ul li:hover {
	background-color: #ced6d6;
	border-right: 5px solid #9c9c9c;
}

div#side_bar ul li.selected {
	font-weight: bold;
	background-color: #a5c3c8;
	border-right: 5px solid #4f4f4f;
}

div#side_bar ul a {
	text-decoration: none;
}

/*********************************************/

div#main_container {
	z-index: -1;
	color: #383838;
	margin-top: 37px;
	margin-left: 170px;
	background-color: white;
}

div#page_title {
	margin: 0 20px;
	padding: 10px 0;
	font-size: 20px;
	border-bottom: 1px solid #cacaca;
}

div#page_title img {
	float: left;
	margin-right: 5px;
}

div#main_container div#main_content {
	padding: 0 20px;
}


/**********************************************/

div#about {
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 0 7px;
	position: absolute;
}

div#about p {
	font-size: 10px;
	margin: 0 0 7px 0;
}

/***********************************************/


.sharif_input {
	outline: none;
	padding: 5px 10px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #b7b7b7;
	transition: box-shadow 200ms ease;
	-webkit-transition: box-shadow 200ms ease;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 1px;
}

.sharif_input:hover {
	border-color: #8d8d8d;
}

.sharif_input:focus {
	border-color: rgba(82,168,236,0.6);
	box-shadow: rgba(82,168,236,0.6) 0 0 2px 1px;
}

input.sharif_input:disabled {
	color: #aaa;
}

.long {
	width: 350px;
}

.medium {
	width: 225px;
}

.short {
	width: 100px;
}

.tiny {
	width: 65px;
}

.form_comment {
	color: #828282;
	font-size: 11px;
	padding: 0;
	margin: 0;
}

p.input_p {
	padding: 0;
	margin: 10px 6px 0 0;
}
div.error {
	color: red;
	font-size: 12px;
}

div.ok {
	color: green;
	font-size: 12px;
}

#codeigniter_profiler {
	z-index: -50;
}

select.sharif_time {
	width: 300px;
	font-size: 16px;
}

.c1 {
	float: left;
	margin-right: 5px;
}

.assignment_block {
	height: 24px;
}

.assignment_item {
	padding-top: 3px;
}

#main_content .c1 {
	margin-top: -11px;
}

#main_content .assignment_block {
	padding: 30px 0;
	border-bottom: 1px solid #c6c6c6;
}

#main_content .assignment_item {
	margin-top: -11px;
}

#main_content .assignment_subitem {
	display: inline-block;
	padding:0px 5px;
	min-width: 70px;
	text-align: center;
}

.check {
	width: 22px;
	height: 22px;
	border: none;
	cursor: pointer;
	background: url('../images/icheck/green.png') no-repeat 0 0;
}

.check:hover {
	background-position: -24px 0;
}

.check.checked {
	background-position: -48px 0;
}

.checked {
	background-position: -48px 0;
}

/***************************************/

#add , #remove {
	cursor: pointer;
}

#problems_table {
	padding: 5px;
	text-align: centerx;
	border-radius: 5px;
	border: 1px solid #a9a9a9;
}

#ui-datepicker-div {
	font-size: 11px!important;
}

/********************************************/

/*table.sharif_table, table.sharif_table tr td {
	border:1px solid #2d2d2d;
	text-align: center;
	vertical-align: middle;
}*/

.sharif_table {
	*border-collapse: collapse; /* IE7 and lower */
	border-spacing: 0;
	width: 100%;
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.sharif_table .check {
	margin:0 auto;
	background-position: -120px 0;
}

.sharif_table .check:hover {
	background-position: -144px 0;
}

.sharif_table .check.checked {
	background-position: -168px 0;
}


.sharif_table tr.hl {
	background:#E0E0E0 ;
}

.sharif_table tr {
	background: #fcfcfc;
}

.sharif_table tr:hover {
	background: #f0f0f0;
}

.sharif_table td, .sharif_table th {
	border-left: 1px solid #AFAFAF;
	border-top: 1px solid #AFAFAF;
	padding: 3px 5px;
	text-align: center;
}

.rank td, .rank th {
	padding: 2px;
}

.sharif_table th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.sharif_table td:first-child, .sharif_table th:first-child {
	border-left: none;
}

.sharif_table th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.sharif_table th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.sharif_table th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.sharif_table tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.sharif_table tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}


.sharif_table th.score {
	border-radius: 0;
	border-top: 1px solid #AFAFAF;
	border-left: 1px solid #AFAFAF;
}



/************* Buttons *************************/

input.btn {
	outline: 0;
	border: none;
	background: none;
	display:inline-block;
}
input.btn {
	color: #4D4D4D;
	cursor:pointer;
	font-size: 13px;
	padding: 0.5em 1em;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	/*border: 1px solid #C7C7C7;*/
	background: #E0E0E0;
	background: -moz-linear-gradient(top, #E0E0E0 1%, #C7C7C7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#E0E0E0), color-stop(100%,#C7C7C7));
	background: -webkit-linear-gradient(top, #E0E0E0 1%,#5269c7 100%);
	background: -o-linear-gradient(top, #E0E0E0 1%,#C7C7C7 100%);
	background: -ms-linear-gradient(top, #E0E0E0 1%,#C7C7C7 100%);
	background: linear-gradient(to bottom, #E0E0E0 1%,#C7C7C7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0E0E0', endColorstr='#C7C7C7',GradientType=0 );
	/*box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;*/
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
input.btn:hover {
	color: #4D4D4D;
	text-decoration:none;
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	background: #7ba0e0;
	background: -moz-linear-gradient(top, #E0E0E0 1%, #D4D4D4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#E0E0E0), color-stop(100%,#D4D4D4));
	background: -webkit-linear-gradient(top, #E0E0E0 1%,#D4D4D4 100%);
	background: -o-linear-gradient(top, #E0E0E0 1%,#D4D4D4 100%);
	background: -ms-linear-gradient(top, #E0E0E0 1%,#D4D4D4 100%);
	background: linear-gradient(to bottom, #E0E0E0 1%,#D4D4D4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0E0E0', endColorstr='#D4D4D4',GradientType=0 );
}
input.btn:active {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15), inset 0px 1px 0px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15), inset 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15), inset 0px 1px 0px rgba(255,255,255,0.3);
}

input.ok:hover, input.wrong:hover, input.compilation:hover, input.syntax:hover, input.view_code:hover {
	color:#FFF;
	text-decoration:none;
}

/*#####################
##       compilation      ##
#####################*/
input.compilation, input.syntax {
	color:#FFF;
	/*border: 1px solid #5269C7;*/
	background: -moz-linear-gradient(center top , #303CFF 0%, #0019AB) repeat scroll 0% 0% transparent;
	background: -webkit-linear-gradient(center top , #303CFF 0%, #0019AB) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(center top , #303CFF 0%, #0019AB) repeat scroll 0% 0% transparent;
	background: -ms-linear-gradient(center top , #303CFF 0%, #0019AB) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#303CFF), to(#0019AB));
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
input.compilation:hover, input.syntax:hover {
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top, #303CFF 0%, #001cd0);
	background: -webkit-gradient(linear, left top, left bottom, from(#303CFF), to(#001bd0));
}
input.compilation:active, input.syntax:active {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
	-webkit-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
	box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
}


/*#####################
##        OK         ##
#####################*/
input.ok {
	color:#FFF;
	/*border: 1px solid #5eb700;*/
	background: #50FF19;
	background: -moz-linear-gradient(top, #50FF19 0%, #15AB00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50FF19), color-stop(100%,#15AB00));
	background: -webkit-linear-gradient(top, #50FF19 0%,#15AB00 100%);
	background: -o-linear-gradient(top, #50FF19 0%,#15AB00 100%);
	background: -ms-linear-gradient(top, #50FF19 0%,#15AB00 100%);
	background: linear-gradient(to bottom, #50FF19 0%,#15AB00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec673', endColorstr='#5eb700',GradientType=0 );
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
input.ok:hover {
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top, #50FF19 0%, #16d000);
	background: -webkit-gradient(linear, left top, left bottom, from(#50FF19), to(#15d000));
}
input.ok:active {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
	-webkit-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
	box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
}



/*#####################
##       wrong       ##
#####################*/
input.wrong {
	color:#FFF;
	/*border: 1px solid #B70000;*/
	background: #ff2819;
	background: -moz-linear-gradient(top, #ff2819 0%, #ab0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2819), color-stop(100%, #ab0000));
	background: -webkit-linear-gradient(top, #ff2819 0%, #ab0000 100%);
	background: -o-linear-gradient(top, #ff2819 0%,#ab0000 100%);
	background: -ms-linear-gradient(top, #ff2819 0%,#ab0000 100%);
	background: linear-gradient(to bottom, #ff2819 0%,#ab0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C75A5A', endColorstr='#B70000',GradientType=0 );
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
input.wrong:hover {
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top, #ff2819 0%, #d00000);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff2819), to(#d00000));
}
input.wrong:active {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.25);
	-webkit-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.25);
	box-shadow: inset 0px 2px 5px rgba(000,000,000,0.25);
}


/*#####################
##      view_code      ##
#####################*/
input.view_code {
	color:#FFF;
	/*border: 1px solid #FF9D00;*/
	background: #FFA300;
	background: -moz-linear-gradient(top, #FFA300 0%, #E76600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFA300), color-stop(100%,#E76600));
	background: -webkit-linear-gradient(top, #FFA300 0%,#E76600 100%);
	background: -o-linear-gradient(top, #FFA300 0%,#E76600 100%);
	background: -ms-linear-gradient(top, #FFA300 0%,#E76600 100%);
	background: linear-gradient(to bottom, #FFA300 0%,#E76600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb845', endColorstr='#ff9d00',GradientType=0 );
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
input.view_code:hover {
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top, #FFA300 0%, #ff6d00);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFA300), to(#ff7100));
}
input.view_code:active {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
	-webkit-box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
	box-shadow: inset 0px 2px 5px rgba(000,000,000,0.15);
}

/*****************************************************************/

.panel_right {
	margin-left: 10px;
	float: left;
}

.panel_left {
	float: left;
}

#add_problems {
	clear: left;
	padding-top: 10px;
}

textarea.add_text {
	font-size : 10px;
	width: 410px;
}


.shj_code {
	border: 1px solid #D3D3D3;
	background-color: #F5f5f5;
	/*border-radius: 10px;*/
	padding: 10px;
	-webkit-box-shadow: inset 0px 0px 10px 0px #16202C;
	box-shadow: inset 0px 0px 10px 0px #16202C;
}

span.shj_o {
	color: #ff5f00;
}

span.shj_b {
	color: blue;
}

span.shj_r {
	color: #b20000;
}

span.shj_g {
	color: green;
}

.scoreboard_hours {
	font-size: 9px;
	color: #AAA;
}